//Colors


//Primary

//intro and email sign up background

$DarkBlue : hsl(217, 28%, 15%);

//main background
$MainDarkBlue : hsl(218, 28%, 13%);

//footer background
$FooterDarkBlue : hsl(216, 53%, 9%);

//testimonials background
$TestimonialDarkBlue : hsl(219, 30%, 18%);

//Neutral
$White: hsl(0, 0%, 100%);


//Accent

//inside call-to-action gradient
$Cyan : hsl(176, 68%, 64%);

//inside call-to-action gradient
$Blue : hsl(198, 60%, 50%);

//cta-btn-gradient
$ctaBtn : linear-gradient(250deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));

//inside call-to-action gradient
$LightRed : hsl(0, 100%, 63%);

//Layout

//The designs were created to the following widths:

$Mobile: 850px;
$Desktop: 1440px;