@import "reset";
@import "colors";
@import "mobile";

a > img
{
    object-fit: cover;
    cursor: pointer;
}

nav, ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;;
    padding: 4rem 2rem;
}

nav > ul 
{
    justify-content: center;
    padding: 0 2rem;
}

nav > ul > li
{
    position: relative;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

li::after
{
    content: "";
    border-top: .1em solid $Cyan;
    position: absolute;
    left: 0;
    bottom: -.3em;
    right: 100%;
    transition: all 400ms linear;
}

li:hover::after
{
    right: 0;
    border: 0.5px solid $Cyan;
    border-radius: 10px;
}

.header-cta
{
    background: $ctaBtn;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 1rem 5rem;
    border-radius: 35px;
    cursor: pointer;
}

h1, h2, h3
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

.card-section, .stay-productive-section, .testimonials
{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;

    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.promise-card
{
    padding: 2rem;
}

.stay-productive-image > img 
{
    width: 500px;
    object-fit: cover;
}

.productive-content
{
    text-align: left;
}

.testimonials
{
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    text-align: center;

    @media screen and (max-width: $Mobile) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.user-feedback
{
    background: $TestimonialDarkBlue;
    color: #f2f2f2;
    font-size: .8rem;
    text-align: left;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
    border-radius: 6px;
}

.user-profile
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-2rem);
    margin: 0 2rem;
}

.user-image > img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details
{
    transform: translateY(-.3rem);
}

.reg-section
{
    background: $DarkBlue;
    padding:1rem 2rem;
    width: 700px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .5);
    transform: translateY(4rem);
}

.reg-section > p
{
    font-size: .7rem;
}

#email, #form-cta
{
    background: $White;
    padding: .65rem 7rem;
    border-radius: 25px;
}

#email
{
    transform: translateX(-7rem);
}

#email::placeholder
{
    font-size: .8rem;
    opacity: 80%;
    transform: translateX(-5rem);
}

#form-cta
{
    background: $ctaBtn;
    color: $White;
    font-weight: 700;
    padding: .65rem 2rem;
    transform: translateX(12rem) translateY(-2.5rem);
    cursor: pointer;
}

footer
{
    background: $FooterDarkBlue;
    padding-top: 6rem;
    width: 100%;
    margin: 0 auto;
}

#footer-logo
{
    transform: translateX(-30rem) translateY(3rem);
}

.foo-footer
{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    padding: 0 2rem;

    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .location > p
    {
        font-size: .7rem;
        line-height: 2;
        transform: translateY(-2.3rem);
    }
    
    .contact
    {
        transform: translateY(-1.5rem);
    }

    .contact >.phone
    {
        transform: translateY(-1.5rem);
    }

    .bottom-nav > ul
    {
        display: block;
    }

    .bottom-nav > ul li
    {
        margin: 1rem 0;
    }

    #footer-nav-2
    {
        transform: translateY(-1.2rem);
    }

    .location, .phone, .email
    {
        display: flex;
       align-items: center;
    }

    i
    {
        margin-right: 1rem;
    }

    .location > i
    {
        transform: translateY(-3.5rem);
    }
}